# We could configure flake8 in python/setup.cfg,
# but there is also python code outside the python directory,
# so this config belongs at the top level.

[flake8]
exclude =
    .venv # python/
    venv # docs/

extend-ignore =
    # E261: at least two spaces before inline comment
    E261,
    # E306: expected 1 blank line before a nested definition, found ...
    E306,
    # E501: line too long (... > 79 characters)
    E501,
    # F821: undefined name '...'
    F821,
    # W291: trailing whitespace
    W291,
    # W293: blank line contains whitespace
    W293,
