useDynLib(opendpbase, .registration = TRUE)

# data managing
export(resolve_type)
export(rust_type)
export(hashmap)
export(slice_as_object)
export(object_as_slice)
export(R_to_C)
# measurements
export(make_base_discrete_laplace)
export(make_base_laplace)
export(make_base_gaussian)
export(make_randomized_response)
export(make_base_ptr)
export(invoke)
export(map)
export(returnMeas)
export(returnTran)
export(getInfo)
export(smd_curve_epsilon)
#transformations
export(make_bounded_sum)
export(make_sized_bounded_mean)
export(make_clamp)
export(make_count)
export(check)
export(make_cast_default)
export(make_count_by_categories)
# combinations
export(make_chain_mt)
export(make_chain_tm)
export(make_chain_tt)
export(make_population_amplification)
export(make_pureDP_to_fixed_approxDP)
export(make_zCDP_to_approxDP)
export(make_pureDP_to_zCDP)
export(make_fix_delta)
export(make_basic_composition)
#accessor functions
export(nodmalizeDomain)
#mod
export(binary_search_chain)
# print methods
S3method(print, Measurement)
S3method(print, Transformation)
S3method(print, AnyObject)
S3method(print, hashmap)

