div.bd-sidebar {
    max-height: 100%;
    overflow-y: auto;
}

/* invert the opendp logo in dark mode */
.logo__image.only-dark {
    filter: invert();
}

/* make titles of spoilers in nbsphinx notebooks render inline */
details summary p { display: inline }

/* fix rendering of pandas dataframe tables in chrome and safari */
div.rendered_html table { width: 100% }
