[package]
name = "opendp"
description = "A library of differential privacy algorithms for the statistical analysis of sensitive private data."
license-file = "../LICENSE"
readme = "../README.md"
homepage = "https://opendp.org/"
repository = "https://github.com/opendp/opendp"
version = "0.0.0+development"
authors = ["The OpenDP Project <info@opendp.org>"]
edition = "2018"
build = "build.rs"
rust-version = "1.59.0" # MSRV via `cargo intall msrv && cargo msrv -- cargo check --features=untrusted,bindings-python`

[dependencies]
opendp_derive = {path = "opendp_derive"}
rand = "0.7.3"
num = "0.3.1"
thiserror = "1.0.24"
backtrace = "0.3"
statrs = "0.13.0"
rug = { version = "1.14.0", default-features = false, features = ["integer", "float", "rational", "num-traits", "rand"], optional = true }
az = { version = "1.2.0", optional = true }
gmp-mpfr-sys = { version = "1.4.7", default-features = false, features = ["mpfr", "force-cross"], optional = true }
openssl = { version = "0.10.29", features = ["vendored"], optional = true }

lazy_static = { version = "1.4.0", optional = true }

vega_lite_4 = { version = "0.6.0", optional = true }

[features]
default = ["use-openssl", "use-mpfr"]

local-docs = ["opendp_derive/local-docs"]

floating-point = []
contrib = []
untrusted = ["floating-point", "contrib"]

use-openssl = ["openssl"]
use-mpfr = ["gmp-mpfr-sys", "rug", "az"]
# re-export use-system-libs from mpfr
use-system-libs = ["use-mpfr", "gmp-mpfr-sys/use-system-libs"]

# for plotting in unit tests
test-plot = ["vega_lite_4"]

ffi = ["lazy_static"]
# write bootstrap json to OUT_DIR (dev-only)
bootstrap-json = ["opendp_derive/bootstrap-json"]

[dev-dependencies]
criterion = "0.3"

[lib]
crate-type = ["rlib"]

[package.metadata.docs.rs]
features = ["untrusted", "ffi"]

[[bench]]
name = "discrete_laplace"
harness = false

[workspace]

members = [
    "opendp_codegen"
]