sphinx==5.1.1
sphinx-prompt
git+https://github.com/samtygier-stfc/sphinx-multiversion.git@prebuild_command
pydata-sphinx-theme
nbsphinx
ipython  # for notebook syntax highlighting in docs
pandoc
pypandoc
