# Creates a build for a channel:
# * Compiles Rust for all platforms, and uploads lib-* artifacts
# * Creates Python and R bindings, uploads to the python_bindings and r_bindings artifacts
# * For Python:
#   * Downloads the lib-* and python_bindings artifacts,
#   * creates a Python wheel,
#   * and uploads to the python_wheel_[platform] artifacts
# * For R:
#   * Downloads ONLY the r_bindings artifact,
#   * creates an R package
#   * uploads to the r_package artifact
#
# INPUTS
# * channel:  The release channel
# * fake:     Whether to do a fake build (to save time, for testing only)
name: Build Channel
on:
  workflow_call:
    inputs:
      channel:
        type: string
        required: true
      fake:
        type: boolean
        required: false
        default: false
  workflow_dispatch:
    inputs:
      channel:
        description: Target Channel
        type: choice
        options:
          - dev
          - nightly
          - beta
          - stable
        required: true
        default: nightly
      fake:
        description: Fake Build?
        type: boolean
        required: false
        default: false
env:
  FEATURES: untrusted,ffi,polars

jobs:
  credential-check:
    uses: ./.github/workflows/credential-check.yml
    with:
      ref: ${{ inputs.channel }}
      assert_version: ${{ inputs.channel != 'dev' }}

  libs-windows:
    needs: credential-check
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          path-type: inherit
          install: m4

      - name: Checkout repository
        if: ${{ !inputs.fake }}
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.channel }}

      - name: Cache Rust dependencies
        if: ${{ !inputs.fake }}
        uses: actions/cache@v4
        with:
          path: |
            ~\.cargo\bin
            ~\.cargo\registry\index
            ~\.cargo\registry\cache
            ~\.cargo\git\db
            rust\target
          key: ${{ runner.os }}-cargo-${{ hashFiles('rust/Cargo.toml') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Create Rust build for windows
        if: ${{ !inputs.fake }}
        run: bash tools/rust_build.sh -i -r -t -f "$FEATURES"

      - name: Create Rust build for windows (FAKE)
        if: ${{ inputs.fake }}
        run: |
          mkdir -p rust/target/release/
          echo windows > rust/target/release/opendp.dll
        # echo windows > rust/target/release/libopendp.a

      - name: Upload .dll and .a
        uses: actions/upload-artifact@v4
        with:
          name: lib_win_amd64
          # Unnecessary '*' in path will cause artifact to include parent directories starting at that element.
          path: |
            rust/target*/release/opendp.dll
          # rust/target*/release/libopendp.a

  libs-macos:
    needs: credential-check
    runs-on: macos-12
    strategy:
      matrix:
        architecture: [x86_64, aarch64]
    env:
      TARGET: ${{ matrix.architecture }}-apple-darwin
    steps:
      - name: Checkout repository
        if: ${{ !inputs.fake }}
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.channel }}

      - name: Cache Rust dependencies
        if: ${{ !inputs.fake }}
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
            rust/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('rust/Cargo.toml') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Create Rust build for macos
        if: ${{ !inputs.fake }}
        env:
          # Only run tests for native compile
          FLAGS: ${{ matrix.architecture == 'x86_64' && '-i -r -t' || '-i -r' }}
        run: bash tools/rust_build.sh $FLAGS -g $TARGET -f "$FEATURES"

      - name: Create Rust build for macos (FAKE)
        if: ${{ inputs.fake }}
        run: |
          mkdir -p rust/target/${{ env.TARGET }}/release/
          echo macos > rust/target/${{ env.TARGET }}/release/libopendp.dylib

      - name: Upload .dylib and .a
        uses: actions/upload-artifact@v4
        with:
          name: lib_macosx_12_7_${{ matrix.architecture }}
          # Unnecessary '*' in path will cause artifact to include parent directories starting at that element.
          path: |
            rust/target*/${{ env.TARGET }}/release/libopendp.dylib
          # rust/target*/${{ env.TARGET }}/release/libopendp.a

  libs-linux:
    needs: credential-check
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        architecture: [x86_64, aarch64]
    env:
      DOCKER_IMAGE: messense/manylinux_2_24-cross:${{ matrix.architecture }}
      TARGET: ${{ matrix.architecture }}-unknown-linux-gnu
    steps:
      - name: Checkout repository
        if: ${{ !inputs.fake }}
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.channel }}

      - name: Cache Rust dependencies
        if: ${{ !inputs.fake }}
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
            rust/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('rust/Cargo.toml') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Create Rust build for linux
        if: ${{ !inputs.fake }}
        env:
          # Only run tests for native compile
          FLAGS: ${{ matrix.architecture == 'x86_64' && '-i -r -t' || '-i -r' }}
        run: docker run --rm -v `pwd`:/io $DOCKER_IMAGE bash -c "cd /io && bash tools/rust_build.sh $FLAGS -g $TARGET -f \"$FEATURES\""

      - name: Create Rust build for linux (FAKE)
        if: ${{ inputs.fake }}
        run: |
          mkdir -p rust/target/${{ env.TARGET }}/release/
          echo linux > rust/target/${{ env.TARGET }}/release/libopendp.so
        # echo linux > rust/target/${{ env.TARGET }}/release/libopendp.a

      - name: Upload .so and .a
        uses: actions/upload-artifact@v4
        with:
          name: lib_manylinux_2_24_${{ matrix.architecture }}
          # Unnecessary '*' in path will cause artifact to include parent directories starting at that element.
          path: |
            rust/target*/${{ env.TARGET }}/release/libopendp.so
          # rust/target*/${{ env.TARGET }}/release/libopendp.a


  bindings:
    needs: credential-check
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.channel }}

      - name: Cache Rust dependencies
        if: ${{ !inputs.fake }}
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
            rust/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('rust/Cargo.toml') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Create bindings
        if: ${{ !inputs.fake }}
        run: bash tools/rust_build.sh -r -n -f "$FEATURES,bindings"

      - name: Upload Python bindings
        uses: actions/upload-artifact@v4
        with:
          name: python_bindings
          path: python/src/opendp/
  
      - name: Prepare vendored sources
        if: ${{ !inputs.fake }}
        run: bash tools/r_stage.sh -v

      - name: Prepare vendored sources (fake)
        if: ${{ inputs.fake }}
        run: |
          mkdir -p R/opendp/src/
          echo fake > R/opendp/src/vendor.tar.xz
  
      - name: Upload R bindings
        uses: actions/upload-artifact@v4
        with:
          name: r_bindings
          path: R/opendp/


  python:
    needs: [ libs-windows, libs-macos, libs-linux, bindings ]
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        # https://docs.python.org/3/library/sysconfig.html#sysconfig.get_platform
        platform-tag: [ win_amd64, macosx_12_7_aarch64, macosx_12_7_x86_64, manylinux_2_24_aarch64, manylinux_2_24_x86_64 ] 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.channel }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: pip

      - name: Download lib
        uses: actions/download-artifact@v4
        with:
          name: lib_${{ matrix.platform-tag }}
          path: rust/

      - name: Download Python bindings
        uses: actions/download-artifact@v4
        with:
          name: python_bindings
          path: python/src/opendp/

      - name: Create Python package
        # https://packaging.python.org/en/latest/specifications/platform-compatibility-tags/
        run: |
          pip install -r tools/requirements-tools.txt

          # Convert macosx_12_7_aarch64 to macosx_12_7_arm64
          PYTHON_PLATFORM_TAG=${{ matrix.platform-tag }}
          if [[ $PYTHON_PLATFORM_TAG == "macosx_12_7_aarch64" ]]; then
            PYTHON_PLATFORM_TAG="macosx_12_7_arm64"
          fi
          
          bash tools/python_build.sh -p $PYTHON_PLATFORM_TAG

      - name: Upload Python wheel
        uses: actions/upload-artifact@v4
        with:
          name: python_wheel_${{ matrix.platform-tag }}
          path: python/wheelhouse/opendp-*-py3-none-*.whl

  r:
    needs: bindings
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.channel }}

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          # overrides packages so that dependencies for package in cwd are not installed
          packages: RcppTOML,stringr
      
      - name: Download R bindings
        uses: actions/download-artifact@v4
        with:
          name: r_bindings
          path: R/opendp/

      - name: Source tar
        run: bash tools/r_stage.sh -s

      - name: Notes
        run: bash tools/r_stage.sh -n

      - name: Upload R package
        uses: actions/upload-artifact@v4
        with:
          name: r_package
          path: R/opendp/
