name: Prepare Channel
on:
  workflow_call:
    inputs:
      channel:
        type: string
        required: true
      sync:
        type: boolean
        required: false
        default: false
      counter:
        type: number
        required: false
        default: 0
    outputs:
      date:
        value: ${{ jobs.prepare.outputs.date }}
  workflow_dispatch:
    inputs:
      channel:
        description: Target Channel
        type: choice
        options:
          - nightly
          - beta
          - stable
        required: true
        default: nightly
      sync:
        description: Sync the Channel from Upstream?
        type: boolean
        required: false
        default: false
      counter:
        description: Version Counter
        type: number
        required: false
        default: 0
env:
  # Standardize dates to Eastern time
  TIME_ZONE: "America/New_York"

jobs:
  prepare:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure git user
        run: |
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
          cache: pip

      - name: Install requirements
        run: pip install -r tools/requirements-channel_tool.txt

      - name: Initialize channel
        env:
          SYNC_FLAG: ${{ inputs.sync && '-s' || '-ns' }}
        run: python tools/channel_tool.py initialize -c ${{ inputs.channel }} $SYNC_FLAG -u 714-nightly-build

      - name: Configure channel
        id: configure
        run: |
          DATE=`python tools/channel_tool.py date -z "$TIME_ZONE"`
          python tools/channel_tool.py configure -c ${{ inputs.channel }} -d "$DATE" -i ${{ inputs.counter }}
          echo "date=$DATE" >> $GITHUB_OUTPUT

      - name: Show changes
        run: git diff

      - name: Push changes
        run: |
          git commit -a -m "Initialize and configure channel"
          git push --force origin ${{ inputs.channel }}
    outputs:
      date: ${{ steps.configure.outputs.date }}
