name: Smoke Test

on:
  push:
    branches:
      - main
      - release/*
  pull_request:

jobs:
  rust-build-and-test:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: rust
    env:
      CARGO_TERM_COLOR: always
    steps:

      - name: Free disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: false     # no: will remove rust
          android: true         # 8.7GiB
          dotnet: true          # 1.6GiB
          docker-images: true   # 3.2GiB
          haskell: false        # no: little/no benefit
          large-packages: false # no: slow
          swap-storage: false   # no: having swap is useful

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            rust/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('rust/Cargo.toml') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Check Rust version
        run: cargo --version

      - name: Check Format
        # fix formatting with: cargo fmt --manifest-path=rust/Cargo.toml --all
        run: cargo fmt --manifest-path=Cargo.toml --all --check

      - name: Build
        run: cargo build --verbose --features untrusted,bindings,polars
      
      - name: Check --no-default-features
        run: cargo check --verbose --no-default-features --features untrusted,ffi,polars

      - name: Test
        run: cargo test --verbose --features untrusted,ffi,polars

      - name: Check that generated python is up to date
        run: git diff --exit-code

      - name: Upload libs
        uses: actions/upload-artifact@v4
        with:
          name: libs
          path: |
            rust/target/debug/libopendp.so
            rust/target/debug/libopendp.a
      
      - name: Prepare vendored sources
        run: cd .. && bash tools/r_stage.sh -v
          
      - name: Upload vendored sources
        uses: actions/upload-artifact@v4
        with:
          name: vendor
          path: R/opendp/src/vendor.tar.xz

  rust-examples:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: docs/source
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install nightly
        run: rustup update nightly

      - name: Cargo run
        run: cargo +nightly -Zscript getting-started/code/quickstart-framework.rs

  python-test:
    needs: rust-build-and-test
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: python
    strategy:
      matrix:
        python-version:
          - 3.8
          - 3.12
        extra-install:
          - '.'
          - '.[numpy]'
          - '.[scikit-learn]'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      # Disabled so that cached dependencies don't collide
      # - name: Get pip cache dir
      #   id: pip-cache
      #   run: echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT
      #
      # - name: Cache pip dependencies
      #   uses: actions/cache@v4
      #   with:
      #     path: ${{ steps.pip-cache.outputs.dir }}
      #     key: ${{ runner.os }}-pip-${{ hashFiles('python/setup.cfg') }}
      #     restore-keys: ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements-dev.txt

      - name: Download libs
        uses: actions/download-artifact@v4
        with:
          name: libs
          path: python/src/opendp/lib
      
      - name: Install package
        run: python -m pip install -e ${{ matrix.extra-install }}

      - name: Test
        run: coverage run -m pytest -v

      - name: Test coverage
        # We only expect test coverage with all extra dependencies.
        if: ${{ contains(matrix.extra-install, 'scikit-learn') }}
        run: coverage report

  docs-links:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: docs
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Pandoc
        run: sudo apt-get install -y pandoc

      - name: Install dependencies
        run: python -m pip install -r requirements.txt

      - name: Build docs
        run: make html

      - name: Check links
        run: linkchecker -f linkchecker.cfg build/html/index.html

  python-notebooks:
    needs: rust-build-and-test
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: docs
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Get pip cache dir
        id: pip-cache
        run: echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT

      - name: Cache pip dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('python/setup.cfg') }}
          restore-keys: ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8 pytest nbmake pytest-xdist
          python -m pip install -r requirements_notebooks.txt

      - name: Download libs
        uses: actions/download-artifact@v4
        with:
          name: libs
          path: python/src/opendp/lib

      - name: Install package
        run: (cd ../python && python -m pip install -e .)

      - name: Test
        run: |
          shopt -s globstar
          pytest --nbmake source/**/*.ipynb -n=auto

  r-test:
    needs: rust-build-and-test
    runs-on: ubuntu-22.04
    env:
      OPENDP_LIB_DIR: ${{ github.workspace }}/libs
      LINTR_ERROR_ON_LINT: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download libs
        uses: actions/download-artifact@v4
        with:
          name: libs
          path: libs/

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          working-directory: R/opendp
          extra-packages: devtools, local::., RcppTOML, lintr

      - name: Unit tests
        working-directory: R/opendp/
        run: Rscript -e 'devtools::test(reporter = c("summary", "fail"))'

      - name: Run sphinx examples
        run: python tools/r_doc_examples.py

      - name: Lint sphinx examples
        run: Rscript -e 'lintr::lint_dir("docs/source")'

      - name: Document
        run: cd R/opendp/ && Rscript -e 'devtools::document()'

      - name: Check
        run: cd R/opendp/ && Rscript -e 'devtools::check(error_on="warning")'

      - name: Lint
        # Some linters may fail if the package is not pre-loaded with `load_all()`.
        #   see: https://lintr.r-lib.org/articles/continuous-integration.html#for-packages
        run: cd R/opendp/ && Rscript -e 'pkgload::load_all(); lintr::lint_package()'
