name: Smoke Test

on:
  push:
    branches:
      - main
      - release/*
  pull_request:

jobs:
  rust-build-and-test:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: rust
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Cache Rust dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            rust/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('rust/Cargo.toml') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Check Rust version
        run: cargo --version

      - name: Check Format
        run: cargo fmt --manifest-path=Cargo.toml --all --check

      - name: Build
        run: cargo build --verbose --features untrusted,bindings-python
      
      - name: Check --no-default-features
        run: cargo check --verbose --no-default-features --features untrusted,ffi

      - name: Test
        run: cargo test --verbose --features untrusted,ffi

      - name: Upload libs
        uses: actions/upload-artifact@v3
        with:
          name: libs
          path: rust/target/debug/libopendp.so

  python-test:
    needs: rust-build-and-test
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: python
    strategy:
      matrix:
        python-version: [3.9]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Pandoc
        run: sudo apt-get install -y pandoc

      - name: Get pip cache dir
        id: pip-cache
        run: echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT

      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('python/setup.cfg') }}
          restore-keys: ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements-dev.txt

      - name: Lint with flake8
        run: |
          # Stop the build if there are new linting errors.
          # There is a long ignore list in .flake8.
          flake8 .. --count --show-source --statistics

      - name: Type check with mypy
        run: |
          mypy .

      - name: Download libs
        uses: actions/download-artifact@v3
        with:
          name: libs
          path: python/src/opendp/lib
      
      - name: Install package
        run: python -m pip install -e .

      - name: Test
        run: coverage run -m pytest -v

      - name: Test coverage
        run: coverage report

      - name: Test docs
        run: |
          cd ../docs
          python -m pip install -r requirements.txt
          make doctest-python
          linkchecker -f linkchecker.cfg build/html/index.html


  python-test-notebooks:
    needs: rust-build-and-test
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: docs
    strategy:
      matrix:
        python-version: [3.8]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Get pip cache dir
        id: pip-cache
        run: echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT

      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('python/setup.cfg') }}
          restore-keys: ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8 pytest nbmake pytest-xdist
          python -m pip install -r requirements_notebooks.txt

      - name: Download libs
        uses: actions/download-artifact@v3
        with:
          name: libs
          path: python/src/opendp/lib

      - name: Install package
        run: (cd ../python && python -m pip install -e .)

      - name: Test
        run: |
          shopt -s globstar
          pytest --nbmake source/**/*.ipynb -n=auto
