name: Weekly doc check

on:
  # Runs every Sunday at midnight:
  schedule:
    - cron: '0 0 * * 0'
  # Or run manually:
  # CLI: gh workflow run weekly-doc-check.yml
  # web: https://github.com/opendp/opendp/actions/workflows/weekly-doc-check.yml
  workflow_dispatch:

jobs:
  check-docs:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: docs
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install deps
        run: python -m pip install -r requirements.txt

      - name: Check markdown links
        run: |
          find .. | grep '.md$' | grep -v 'venv/\|.git/\|CHANGELOG\|vendor/' \
          | xargs linkchecker -f linkchecker-external.cfg

      - name: Install Pandoc
        run: sudo apt-get install -y pandoc

      - name: Build docs
        run: make html

      - name: Check links
        run: linkchecker -f linkchecker-external.cfg build/html/index.html

      - name: Build Rust docs
        run: make html-rustdoc
